.client__list {
    display: flex;
    gap: 30px;
}

.client__card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clien-icon);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border-color 250ms var(--time-cube);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:hover .client__icon,
    &:focus .client__icon {
            fill: var(--accent-color);
    }

}

.client__icon {
    fill: var(--clien-icon);
    transition: fill 250ms var(--time-cube);
}


